.cep-header{
    background-color: #777;
    box-shadow: 2px 2px 5px #444;
}

.logo-settings{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 10vh;
}
.logo-settings img{
    width: 50px;
    height: 50px;
    margin: 20px;
}

.logo-settings h3{
    margin-top: 30px;
}